[Unit]
Description=Roof Monitor Service
After=syslog.target network.target remote-fs.target nss-lookup.target pigpiod.service

[Service]
Type=forking

ExecStart=/usr/bin/roofcheck 
ExecStop=/bin/systemctl kill roofcheck
User=root
Group=root

[Install]
WantedBy=multi-user.target

